{% if HasDescription -%}
/// <summary>{{ Description | csharpdocs }}</summary>
{% endif -%}
[System.CodeDom.Compiler.GeneratedCode("NJsonSchema", "{{ ToolchainVersion }}")]
{% template Class.Annotations %}
[MessagePack.MessagePackObject]
{{ TypeAccessModifier }} {% if IsAbstract %}abstract {% endif %}partial class {{ClassName}} {% template Class.Inheritance %}
{
{% if IsTuple -%}
    public {{ClassName}}({% for tupleType in TupleTypes -%}{{ tupleType }} item{{ forloop.index }}{% if forloop.last == false %}, {% endif %}{% endfor -%}) : base({% for tupleType in TupleTypes -%}item{{ forloop.index }}{% if forloop.last == false %}, {% endif %}{% endfor -%})
    {
    }

{% endif -%}
{% if RenderInpc or RenderPrism -%}
{% for property in Properties -%}
    private {{ property.Type }} {{ property.FieldName }}{% if property.HasDefaultValue %} = {{ property.DefaultValue }}{% endif -%};
{% endfor -%}

{% endif -%}
    {% template Class.Constructor %}
{% if RenderRecord == true -%}
    {% template Class.Constructor.Record %}

{% endif -%}
{% for property in Properties -%}
{%   if property.HasDescription -%}
    /// <summary>{{ property.Description | csharpdocs }}</summary>
{%   endif -%}
{%   if property.RenderRequiredAttribute -%}
    [System.ComponentModel.DataAnnotations.Required{% if property.AllowEmptyStrings %}(AllowEmptyStrings = true){% endif %}]
{%   endif -%}
{%   if property.RenderRangeAttribute -%}
    [System.ComponentModel.DataAnnotations.Range({{ property.RangeMinimumValue }}, {{ property.RangeMaximumValue }})]
{%   endif -%}
{%   if property.RenderStringLengthAttribute -%}
    [System.ComponentModel.DataAnnotations.StringLength({{ property.StringLengthMaximumValue }}{% if property.StringLengthMinimumValue > 0 %}, MinimumLength = {{ property.StringLengthMinimumValue }}{% endif %})]
{%   endif -%}
{%   if property.RenderMinLengthAttribute -%}
    [System.ComponentModel.DataAnnotations.MinLength({{ property.MinLengthAttribute }})]
{%   endif -%}
{%   if property.RenderMaxLengthAttribute -%}
    [System.ComponentModel.DataAnnotations.MaxLength({{ property.MaxLengthAttribute }})]
{%   endif -%}
{%   if property.RenderRegularExpressionAttribute -%}
    [System.ComponentModel.DataAnnotations.RegularExpression(@"{{ property.RegularExpressionValue }}")]
{%   endif -%}
{%   if property.IsStringEnum -%}
{%   endif -%}
{%   if property.IsDate and UseDateFormatConverter -%}
{%   endif -%}
    {% template Class.Property.Annotations %}
    [MessagePack.Key({{ forloop.index0 }})]
    public {{ property.Type }} {{ property.PropertyName }}{% if RenderInpc == false and RenderPrism == false %} { get; {% if property.HasSetter and RenderRecord == false %}set; {% endif %}}{% if property.HasDefaultValue and RenderRecord == false %} = {{ property.DefaultValue }};{% endif %}
{% else %}
    {
        get { return {{ property.FieldName }}; }
{%     if property.HasSetter -%}
{%         if RenderInpc -%}
        {{PropertySetterAccessModifier}}set 
        {
            if ({{ property.FieldName }} != value)
            {
                {{ property.FieldName }} = value; 
                RaisePropertyChanged();
            }
        }
{%         else -%}
        {{PropertySetterAccessModifier}}set { SetProperty(ref {{ property.FieldName }}, value); }
{%         endif -%}
{%     endif -%}
    }
{%   endif -%}

{% endfor -%}
    {% template Class.Body %}
}