{% if HasDescription -%}
/// <summary>{{ Description | csharpdocs }}</summary>
{% endif -%}
[System.CodeDom.Compiler.GeneratedCode("NJsonSchema", "{{ ToolchainVersion }}")]
{% if IsEnumAsBitFlags -%}
[System.Flags]
{% endif -%}
{{ TypeAccessModifier }} enum {{ Name }}
{
{% for enum in Enums -%}
{%   if IsStringEnum -%}
    [System.Runtime.Serialization.EnumMember(Value = @"{{ enum.Value | replace: '"', '""' }}")]
{%   endif -%}
{% if IsEnumAsBitFlags -%}
    {{ enum.Name }} = {{ enum.InternalFlagValue }},
{% else -%}
    {{ enum.Name }} = {{ forloop.index }},
{% endif -%}

{% endfor -%}
}