{% if Framework.IsFetchOrAurelia -%}
return response.text().then((_responseText) => {
{% elseif Framework.Angular.UseHttpClient -%}
{%     if Framework.UseRxJs6 -%}
return blobToText(responseBlob).pipe({{ Framework.RxJs.ObservableMergeMapMethod }}(_responseText => {
{%     else -%}
return blobToText(responseBlob).flatMap(_responseText => {
{%     endif -%}
{% elseif operation.RequestAngularBlobs -%}
{%     if Framework.UseRxJs6 -%}
return blobToText(response.blob()).pipe({{ Framework.RxJs.ObservableMergeMapMethod }}(_responseText => {
{%     else -%}
return blobToText(response.blob()).flatMap(_responseText => {
{%     endif -%}
{% elseif operation.RequestAngularJSBlobs -%}
return blobToText(new Blob([response]), this.q).then(_responseText => {
{% elseif Framework.IsAngular -%}
const _responseText = response.arrayBuffer();
{% elseif Framework.IsAngularJS -%}
const _responseText = response.data;
{% elseif Framework.IsAxios -%}
const _responseText = response.data;
{% else -%}
const _responseText = xhr.responseText; 
{% endif -%}