{% if HasDescription -%}
/** {{ Description }} */
{% endif -%}
{% if ExportTypes %}export {% endif %}enum {{ Name }} {
{% for enumeration in Enums -%}
    {{ enumeration.Name }} = {{ enumeration.Value }},
{% endfor -%}
}